<script type="text/javascript">
  $(document).ready(function(){
    $('#treatment_plan').submit(function(e){
      e.preventDefault();
      var products = $("select#product");
      var months = $("select#month");

      var count = 0;
      for(var i=0;i < products.length;i++)
      {
        if($(products[i]).val() != "")
        {
          count++;
        }
      }
      
      if(count > 0)
      {
        count = 0;
        for(var i=0;i < months.length;i++)
        {
          if($(months[i]).val() != "")
          {
            count ++;
          }
        }

        if(count > 0)
        {
          var temp_plan = {};
          var plans = [];
          
          console.log(products)
          console.log(months)
          
          for(var i=0;i < products.length;i++)
          {
            temp_plan[$(products[i]).val()] = $(months[i]).val();
            plans.push(temp_plan);
            temp_plan = {};
          }
          
          console.log(plans);
          
          var good = false
          
          
          $.post("/results", {plans: plans}, function(data){
            console.log(data);
          });
          
          return false;
        }
        else
        {
          alert("Must have at least one combo.");
        }
      }
      else
      {
        alert("Must have at least one combo.");
      }
    });
  });
</script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="hero-unit">
  <div class="container">
    <h1>Welome</h1>
    <p>This is BIP's first iteration of the proposed public interface tool. This prototype compares users' mite treatment choices with those in the BIP data set to offer insight into what they may expect for results.</p>
  </div>
</div>
<div class="container">
    <h4>Directions:</h4>
    <p>Select a series of treatments and months applied in your treatment schedule to compare choices with those of our respondants.</p>
    <p>&nbsp</p>
    
    <p><%= link_to "Look at some queries!", queries_path %></p>

  <%= form_tag "/test", {:id => "treatment_plan"} do %>
  
      <!-- Expiry-->
    <div class="control-group">
      <label class="control-label">Treatment Schedule</label>
      <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 1"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
        <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 2"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
        <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 3"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
        <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 4"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
        <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 5"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
        <div class="controls">
        <%= select_tag "products", options_from_collection_for_select(@products, "name", "name"),  {:class => "span3", :id =>"product", :prompt => "Product 6"} %>
        <%= select_tag "months", options_from_collection_for_select(@months, "name", "name"),  {:class => "span3", :id =>"month", :prompt => "Month"} %>
      </div>
    </div>
    
    <!-- Submit -->
    <div class="control-group">
      <div class="controls">
        <div class="pull-right">
          <%= submit_tag "Next >", {:class => "pull-right btn btn-large btn-success"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
